In [23]:
# Dependencies and Setup
import pandas as pd
import numpy as np

## Get Top 20 Countries that produced the most CO2 emissions (2015)

In [24]:
# Loading cleaned CO2 emissions data 
data = pd.read_csv('data/Cleaned_CO2.csv')

In [25]:
# Slice top 20 countries with highest CO2 emissions -- USE THIS CHART TO FIND TOP 20 CO2 EMISSION DATA 
top20_CO2df = data.nlargest(20, '2015')
top20_CO2df.head(5)

,Country Code,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
34,CHN,China,CO2 emissions (kt),3405179.867,3487566.356,3850269.326,4540417.061,5233538.733,5896957.705,6529291.518,6697654.489,7553070.247,7557789.676,8776040.416,9733538.120,1.002857e+07,1.025801e+07,1.029193e+07,1.014500e+07
187,USA,United States,CO2 emissions (kt),5693684.894,5595794.329,5641309.133,5675701.926,5756075.232,5789727.291,5697285.888,5789030.561,5614110.994,5263505.457,5395532.125,5270047.385,5.082000e+06,5.170360e+06,5.225413e+06,5.126913e+06
84,IND,India,CO2 emissions (kt),1031853.463,1041152.975,1054258.833,1099597.621,1154320.262,1222563.132,1303717.509,1407607.286,1568379.567,1738645.711,1719690.988,1836561.945,2.013788e+06,2.030972e+06,2.232730e+06,2.337749e+06
154,RUS,Russian Federation,CO2 emissions (kt),1557899.281,1557506.912,1557085.207,1604242.827,1602115.967,1615089.813,1669262.404,1666886.188,1714978.893,1574045.082,1670531.186,1763405.295,1.807244e+06,1.739427e+06,1.736985e+06,1.698213e+06
92,JPN,Japan,CO2 emissions (kt),1219281.167,1201331.202,1218980.473,1240953.137,1262394.086,1240945.803,1234755.907,1251554.434,1211756.483,1105314.474,1172611.258,1190469.548,1.229622e+06,1.244616e+06,1.206674e+06,1.163803e+06

In [26]:
# Store Top 20 country Names in a list -- USE THESE FOR DROP DOWN MENU AND PIE CHART TITLES
top20_countrynames_list = top20_CO2df["Country Name"]
top20_countrynames_list

34                  China
187         United States
84                  India
154    Russian Federation
92                  Japan
48                Germany
86     Iran, Islamic Rep.
156          Saudi Arabia
99            Korea, Rep.
31                 Canada
83              Indonesia
25                 Brazil
116                Mexico
196          South Africa
65         United Kingdom
9               Australia
181                Turkey
145                Poland
175              Thailand
57                  Spain
Name: Country Name, dtype: object

In [27]:
# Store Top 20 country codes in a list -- USE THESE TO MERGE DATA 
top20_countrycodes_list = top20_CO2df["Country Code"]
top20_countrycodes_list

34     CHN
187    USA
84     IND
154    RUS
92     JPN
48     DEU
86     IRN
156    SAU
99     KOR
31     CAN
83     IDN
25     BRA
116    MEX
196    ZAF
65     GBR
9      AUS
181    TUR
145    POL
175    THA
57     ESP
Name: Country Code, dtype: object

## Filter out other CSVs according to TOP 20 countries list

In [28]:
# Loading cleaned GDP data 
GDPdata = pd.read_csv('data/Cleaned_GDP.csv')

In [31]:
top20_GDP= GDPdata.loc[top20_countrycodes_list]

top20_GDP

KeyError: "None of [Index(['CHN', 'USA', 'IND', 'RUS', 'JPN', 'DEU', 'IRN', 'SAU', 'KOR', 'CAN',\n       'IDN', 'BRA', 'MEX', 'ZAF', 'GBR', 'AUS', 'TUR', 'POL', 'THA', 'ESP'],\n      dtype='object')] are in the [index]"