In [15]:
# Dependencies and Setup
import pandas as pd
import numpy as np

Get Top 20 Countries that produced the most CO2 emissions (2015)

In [16]:
# Loading cleaned CO2 emissions data 
data = pd.read_csv('data/Cleaned_CO2.csv')

data.head()

,Country Code,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ABW,Aruba,CO2 emissions (kt),2379.883,2409.219,2438.555,2563.233,2618.238,2720.914,2717.247,2823.590,2658.575,2629.239,2508.228,2500.894,1349.456,861.745,872.746,898.415
1,AFG,Afghanistan,CO2 emissions (kt),773.737,817.741,1070.764,1213.777,916.750,1327.454,1650.150,2273.540,4206.049,6769.282,8463.436,12240.446,10755.311,9050.156,8467.103,9035.488
2,AGO,Angola,CO2 emissions (kt),9541.534,9732.218,12665.818,9064.824,18793.375,19156.408,22266.024,25151.953,25709.337,27792.193,29057.308,30586.447,34176.440,33692.396,44851.077,34583.477
3,ALB,Albania,CO2 emissions (kt),3021.608,3223.293,3751.341,4294.057,4165.712,4253.720,3898.021,3927.357,4374.731,4378.398,4598.418,5240.143,4924.781,4913.780,5489.499,4616.753
4,AND,Andorra,CO2 emissions (kt),524.381,524.381,531.715,535.382,561.051,575.719,546.383,539.049,539.049,517.047,517.047,491.378,487.711,476.710,462.042,465.709

In [19]:
# Slice top 20 countries with highest CO2 emissions 
top20_CO2df = data.nlargest(20, '2015')
top20_CO2df.head(5)

,Country Code,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
34,CHN,China,CO2 emissions (kt),3405179.867,3487566.356,3850269.326,4540417.061,5233538.733,5896957.705,6529291.518,6697654.489,7553070.247,7557789.676,8776040.416,9733538.120,1.002857e+07,1.025801e+07,1.029193e+07,1.014500e+07
187,USA,United States,CO2 emissions (kt),5693684.894,5595794.329,5641309.133,5675701.926,5756075.232,5789727.291,5697285.888,5789030.561,5614110.994,5263505.457,5395532.125,5270047.385,5.082000e+06,5.170360e+06,5.225413e+06,5.126913e+06
84,IND,India,CO2 emissions (kt),1031853.463,1041152.975,1054258.833,1099597.621,1154320.262,1222563.132,1303717.509,1407607.286,1568379.567,1738645.711,1719690.988,1836561.945,2.013788e+06,2.030972e+06,2.232730e+06,2.337749e+06
154,RUS,Russian Federation,CO2 emissions (kt),1557899.281,1557506.912,1557085.207,1604242.827,1602115.967,1615089.813,1669262.404,1666886.188,1714978.893,1574045.082,1670531.186,1763405.295,1.807244e+06,1.739427e+06,1.736985e+06,1.698213e+06
92,JPN,Japan,CO2 emissions (kt),1219281.167,1201331.202,1218980.473,1240953.137,1262394.086,1240945.803,1234755.907,1251554.434,1211756.483,1105314.474,1172611.258,1190469.548,1.229622e+06,1.244616e+06,1.206674e+06,1.163803e+06

In [ ]:
# Store Top 20 country codes in a list to use as values when searching in GDP, Urban pop, and Renewable energy csv's