In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

## Get Top 20 Countries that produced the most CO2 emissions (2015)

In [2]:
# Loading cleaned CO2 emissions data 
data = pd.read_csv('Cleaned_CO2.csv')

In [3]:
# Slice top 20 countries with highest CO2 emissions -- USE THIS CHART TO FIND TOP 20 CO2 EMISSION DATA 
top20_CO2df = data.nlargest(20, '2015')

top20_CO2df.reset_index(drop = True, inplace= True)
top20_CO2df.head(5)

,Country Code,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,CHN,China,CO2 emissions (kt),3405179.867,3487566.356,3850269.326,4540417.061,5233538.733,5896957.705,6529291.518,6697654.489,7553070.247,7557789.676,8776040.416,9733538.120,1.002857e+07,1.025801e+07,1.029193e+07,1.014500e+07
1,USA,United States,CO2 emissions (kt),5693684.894,5595794.329,5641309.133,5675701.926,5756075.232,5789727.291,5697285.888,5789030.561,5614110.994,5263505.457,5395532.125,5270047.385,5.082000e+06,5.170360e+06,5.225413e+06,5.126913e+06
2,IND,India,CO2 emissions (kt),1031853.463,1041152.975,1054258.833,1099597.621,1154320.262,1222563.132,1303717.509,1407607.286,1568379.567,1738645.711,1719690.988,1836561.945,2.013788e+06,2.030972e+06,2.232730e+06,2.337749e+06
3,RUS,Russian Federation,CO2 emissions (kt),1557899.281,1557506.912,1557085.207,1604242.827,1602115.967,1615089.813,1669262.404,1666886.188,1714978.893,1574045.082,1670531.186,1763405.295,1.807244e+06,1.739427e+06,1.736985e+06,1.698213e+06
4,JPN,Japan,CO2 emissions (kt),1219281.167,1201331.202,1218980.473,1240953.137,1262394.086,1240945.803,1234755.907,1251554.434,1211756.483,1105314.474,1172611.258,1190469.548,1.229622e+06,1.244616e+06,1.206674e+06,1.163803e+06

In [4]:
# Store Top 20 country Names in a list -- USE THESE FOR DROP DOWN MENU AND PIE CHART TITLES
top20_countrynames_list = top20_CO2df["Country Name"]
top20_countrynames_list

0                  China
1          United States
2                  India
3     Russian Federation
4                  Japan
5                Germany
6     Iran, Islamic Rep.
7           Saudi Arabia
8            Korea, Rep.
9                 Canada
10             Indonesia
11                Brazil
12                Mexico
13          South Africa
14        United Kingdom
15             Australia
16                Turkey
17                Poland
18              Thailand
19                 Spain
Name: Country Name, dtype: object

In [5]:
# Store Top 20 country codes in a list -- USE THESE TO MERGE DATA 
top20_countrycodes_list = top20_CO2df["Country Code"]
top20_countrycodes_list

0     CHN
1     USA
2     IND
3     RUS
4     JPN
5     DEU
6     IRN
7     SAU
8     KOR
9     CAN
10    IDN
11    BRA
12    MEX
13    ZAF
14    GBR
15    AUS
16    TUR
17    POL
18    THA
19    ESP
Name: Country Code, dtype: object

## Filter out other CSVs according to TOP 20 countries list

In [6]:
# Loading cleaned GDP data 
GDPdata = pd.read_csv('Cleaned_GDP.csv', index_col= "Country Code")

# Store Top 20 Countries-GDP chart -- USE THIS CHART FOR GDP DATA
top20_GDP= GDPdata.loc[top20_countrycodes_list]

top20_GDP.head(2)

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Code,,,,,,,,,,,,,,,,,,
CHN,China,GDP per capita growth (annual %),7.638598,7.551655,8.404880,9.354777,9.461559,10.741375,12.093305,13.635820,9.09028,8.855948,10.102833,9.027174,7.339469,7.235409,6.883229,6.498792
USA,United States,GDP per capita growth (annual %),2.975209,0.003649,0.802104,1.980926,2.842681,2.563502,1.867956,0.911866,-1.07670,-3.387436,1.718201,0.822278,1.508614,1.145053,1.782786,2.158874

In [7]:
# Loading cleaned Urban Pop data 
Urbandata = pd.read_csv('Cleaned_urban.csv', index_col= "Country Code")

# Store Top 20 Countries-GDP chart -- USE THIS CHART FOR URBAN POP DATA
top20_Urban= Urbandata.loc[top20_countrycodes_list]

top20_Urban.head(2)

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Code,,,,,,,,,,,,,,,,,,
CHN,China,Urban population,452999147.0,471767321.0,491993700.0,512473984.0,533257098.0,554367818.0,575118254.0,595670841.0,616481190.0,637407288.0,658498663.0,678933504.0,699187267.0,719587859.0,740239259.0,761027100.0
USA,United States,Urban population,223069137.0,225792302.0,228400290.0,230876596.0,233532722.0,236200507.0,238999326.0,241795278.0,244607104.0,247276259.0,249845296.0,252186596.0,254576561.0,256899730.0,259361210.0,261865944.0

In [8]:
# Loading cleaned Renewable energy data 
Renewabledata = pd.read_csv('Cleaned_renewable.csv', index_col= "Country Code")

# Store Top 20 Countries-Renewable Energy chart -- USE THIS CHART FOR RENEWABLE ENERGY DATA
top20_Renewable= Renewabledata.loc[top20_countrycodes_list]

top20_Renewable.head(2)

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Code,,,,,,,,,,,,,,,,,,
CHN,China,Renewable energy consumption (% of total final...,29.730715,28.455815,27.098202,23.946580,20.249479,18.203819,17.094610,15.349371,14.601997,13.911962,12.884310,11.695797,11.968567,11.838167,12.223823,12.413353
USA,United States,Renewable energy consumption (% of total final...,5.429624,4.678571,4.840779,5.326282,5.477657,5.841091,6.396514,6.304128,6.845541,7.354405,7.505172,8.164452,8.481450,8.713262,8.754309,8.716936

In [9]:
top20_CO2df["color"] = [
'#93b987',
'#f85916',
'#fbd505',
'#6d9c2f',
'#ff3f3f',
'#38ddd9',
'#ffbc3e',
'#92c12b',
'#ff61a1',
'#fdbf60',
'#78347c',
'#3a1560',
'#58d454',
'#30bac5',
'#ffd214',
'#ff8029',
'#df0000',
'#fbcb5a',
'#ced4d7',
'#d8b129',
]

In [10]:
top20_CO2df.to_csv("top20_CO2df.csv", index=True)

top20_countrynames_list.to_csv("top20_countrynames_list.csv", index=True)

top20_countrycodes_list.to_csv("top20_countrycodes_list.csv", index=True)

top20_GDP.to_csv("top20_GDP.csv", index=True)

top20_Urban.to_csv("top20_Urban.csv", index=True)

top20_Renewable.to_csv("top20_Renewable.csv", index=True)