In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

## Get Top 20 Countries that produced the most CO2 emissions (2015)

In [2]:
# Loading cleaned CO2 emissions data 
data = pd.read_csv('Cleaned_CO2.csv')

In [10]:
# Slice top 20 countries with highest CO2 emissions -- USE THIS CHART TO FIND TOP 20 CO2 EMISSION DATA 
top20_CO2df = data.nlargest(20, '2015')

top20_CO2df.reset_index(drop = True, inplace= True)
top20_CO2df.sort_values("Country Name", inplace= True)
top20_CO2df.head(20)

,Country Code,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
15,AUS,Australia,CO2 emissions (kt),329443.280,324844.862,341353.696,336271.234,342699.485,350172.831,365346.877,372090.490,385904.079,394792.887,390861.863,391818.950,3.881263e+05,3.723178e+05,3.613168e+05,3.653322e+05
11,BRA,Brazil,CO2 emissions (kt),327983.814,337433.673,332266.870,321621.569,337826.042,347308.904,347668.270,363212.683,387631.236,367147.374,419754.156,439412.943,4.700287e+05,5.036771e+05,5.335302e+05,5.043885e+05
9,CAN,Canada,CO2 emissions (kt),534380.909,527926.989,519335.208,553100.944,553357.634,561425.034,571993.328,571846.648,561791.734,532191.710,527263.262,522774.854,5.177217e+05,5.191885e+05,5.406148e+05,5.494303e+05
0,CHN,China,CO2 emissions (kt),3405179.867,3487566.356,3850269.326,4540417.061,5233538.733,5896957.705,6529291.518,6697654.489,7553070.247,7557789.676,8776040.416,9733538.120,1.002857e+07,1.025801e+07,1.029193e+07,1.014500e+07
5,DEU,Germany,CO2 emissions (kt),829977.779,853662.932,829724.756,823003.145,815969.839,797759.517,816721.574,781247.016,779296.172,720547.165,757880.892,729810.007,7.381414e+05,7.579616e+05,7.203638e+05,7.270451e+05
2,IND,India,CO2 emissions (kt),1031853.463,1041152.975,1054258.833,1099597.621,1154320.262,1222563.132,1303717.509,1407607.286,1568379.567,1738645.711,1719690.988,1836561.945,2.013788e+06,2.030972e+06,2.232730e+06,2.337749e+06
10,IDN,Indonesia,CO2 emissions (kt),263418.945,294907.474,306737.216,316792.130,337635.358,341991.754,345119.705,375544.804,416560.199,446420.580,428760.308,509969.690,5.296321e+05,4.150127e+05,3.699453e+05,5.127493e+05
6,IRN,"Iran, Islamic Rep.",CO2 emissions (kt),372237.170,398437.885,401760.187,418437.703,447036.636,468807.615,509338.966,519324.207,541582.897,554278.051,573031.089,589055.879,6.117619e+05,6.195250e+05,6.523923e+05,6.500784e+05
4,JPN,Japan,CO2 emissions (kt),1219281.167,1201331.202,1218980.473,1240953.137,1262394.086,1240945.803,1234755.907,1251554.434,1211756.483,1105314.474,1172611.258,1190469.548,1.229622e+06,1.244616e+06,1.206674e+06,1.163803e+06
8,KOR,"Korea, Rep.",CO2 emissions (kt),447561.017,450193.923,465631.993,466215.046,482276.506,462918.413,470655.783,495675.724,507589.807,508862.256,566716.515,589400.577,5.839661e+05,5.924992e+05,5.871564e+05,5.973543e+05
12,MEX,Mexico,CO2 emissions (kt),398382.880,412977.540,414389.335,440208.682,441308.782,466361.726,479251.231,480520.013,493251.837,475950.931,464308.206,484429.035,4.963248e+05,4.903402e+05,4.814991e+05,4.829476e+05
17,POL,Poland,CO2 emissions (kt),299289.539,301284.387,294834.134,302252.475,304416.005,302538.501,318940.992,314272.901,314848.620,297617.387,316264.082,317037.819,2.999203e+05,3.023442e+05,2.859380e+05,2.856593e+05
3,RUS,Russian Federation,CO2 emissions (kt),1557899.281,1557506.912,1557085.207,1604242.827,1602115.967,1615089.813,1669262.404,1666886.188,1714978.893,1574045.082,1670531.186,1763405.295,1.807244e+06,1.739427e+06,1.736985e+06,1.698213e+06
7,SAU,Saudi Arabia,CO2 emissions (kt),296935.325,297214.017,326407.004,327272.416,395834.315,397642.146,432739.003,387777.916,430175.770,468965.296,518491.798,499878.106,5.648427e+05,5.410475e+05,6.010470e+05,6.471118e+05
13,ZAF,South Africa,CO2 emissions (kt),378665.421,372042.819,356637.752,404459.099,450186.589,416915.898,447894.714,466578.079,496772.157,503112.400,469816.040,477370.060,4.646749e+05,4.592221e+05,4.844950e+05,4.639525e+05
19,ESP,Spain,CO2 emissions (kt),294434.431,297830.073,314518.590,321097.188,339428.521,353462.130,350037.152,358236.564,329285.599,288237.201,270910.626,270547.593,2.647794e+05,2.370349e+05,2.339766e+05,2.504964e+05
18,THA,Thailand,CO2 emissions (kt),172697.365,184699.456,194589.355,205880.048,221442.796,227493.346,231127.343,234027.940,230951.327,246114.372,258901.201,256264.628,2.730888e+05,2.872178e+05,2.809765e+05,2.843648e+05
16,TUR,Turkey,CO2 emissions (kt),216151.315,194567.353,205685.697,218523.864,225421.491,237390.579,261614.781,284808.556,283979.814,280683.181,296315.602,321122.857,3.274374e+05,3.254242e+05,3.459081e+05,3.503378e+05
14,GBR,United Kingdom,CO2 emissions (kt),541784.582,545862.286,528642.054,540006.087,539239.684,542580.321,541458.219,528425.701,521652.752,471389.183,492676.118,447440.006,4.682612e+05,4.559401e+05,4.197432e+05,4.050385e+05
1,USA,United States,CO2 emissions (kt),5693684.894,5595794.329,5641309.133,5675701.926,5756075.232,5789727.291,5697285.888,5789030.561,5614110.994,5263505.457,5395532.125,5270047.385,5.082000e+06,5.170360e+06,5.225413e+06,5.126913e+06

In [4]:
# Store Top 20 country Names in a list -- USE THESE FOR DROP DOWN MENU AND PIE CHART TITLES
top20_countrynames_list = top20_CO2df["Country Name"]
top20_countrynames_list

0                  China
1          United States
2                  India
3     Russian Federation
4                  Japan
5                Germany
6     Iran, Islamic Rep.
7           Saudi Arabia
8            Korea, Rep.
9                 Canada
10             Indonesia
11                Brazil
12                Mexico
13          South Africa
14        United Kingdom
15             Australia
16                Turkey
17                Poland
18              Thailand
19                 Spain
Name: Country Name, dtype: object

In [5]:
# Store Top 20 country codes in a list -- USE THESE TO MERGE DATA 
top20_countrycodes_list = top20_CO2df["Country Code"]
top20_countrycodes_list

0     CHN
1     USA
2     IND
3     RUS
4     JPN
5     DEU
6     IRN
7     SAU
8     KOR
9     CAN
10    IDN
11    BRA
12    MEX
13    ZAF
14    GBR
15    AUS
16    TUR
17    POL
18    THA
19    ESP
Name: Country Code, dtype: object

## Filter out other CSVs according to TOP 20 countries list

In [6]:
# Loading cleaned GDP data 
GDPdata = pd.read_csv('Cleaned_GDP.csv', index_col= "Country Code")

# Store Top 20 Countries-GDP chart -- USE THIS CHART FOR GDP DATA
top20_GDP= GDPdata.loc[top20_countrycodes_list]
top20_GDP.sort_values("Country Name", inplace= True)
top20_GDP.head(20)

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Code,,,,,,,,,,,,,,,,,,
CHN,China,GDP per capita growth (annual %),7.638598,7.551655,8.404880,9.354777,9.461559,10.741375,12.093305,13.635820,9.090280,8.855948,10.102833,9.027174,7.339469,7.235409,6.883229,6.498792
USA,United States,GDP per capita growth (annual %),2.975209,0.003649,0.802104,1.980926,2.842681,2.563502,1.867956,0.911866,-1.076700,-3.387436,1.718201,0.822278,1.508614,1.145053,1.782786,2.158874
IND,India,GDP per capita growth (annual %),2.021089,3.027378,2.064875,6.093705,6.193653,6.231949,6.403285,6.048174,1.587598,6.351089,7.042347,3.893930,4.165500,5.134957,6.186732,6.797039
RUS,Russian Federation,GDP per capita growth (annual %),10.463718,5.546717,5.182747,7.787965,7.632493,6.806606,8.554945,8.685761,5.246214,-7.827749,4.453094,4.218726,3.849156,1.538964,-1.045257,-2.183888
JPN,Japan,GDP per capita growth (annual %),2.607851,0.164695,-0.114538,1.311201,2.170289,1.653123,1.355753,1.537441,-1.141425,-5.404594,4.173028,0.069763,1.657318,2.147532,0.507999,1.330401
DEU,Germany,GDP per capita growth (annual %),2.773221,1.510558,-0.365628,-0.755077,1.197055,0.788917,3.933610,3.114246,1.152030,-5.454577,4.339607,5.869636,0.230161,0.163871,1.784342,0.617105
IRN,"Iran, Islamic Rep.",GDP per capita growth (annual %),4.531240,-0.473652,5.933302,7.396782,3.120611,1.990106,3.820524,6.970588,-0.839118,-0.106549,4.596447,1.445852,-8.553296,-1.423452,3.274962,-2.611099
SAU,Saudi Arabia,GDP per capita growth (annual %),3.226458,-3.721165,-5.505128,8.015580,4.803448,2.543985,-0.073622,-0.928231,3.360700,-4.787297,2.008908,6.703971,2.202655,-0.367218,0.754235,1.478372
KOR,"Korea, Rep.",GDP per capita growth (annual %),8.152690,4.051006,7.104333,2.614040,4.781286,4.087645,4.712928,5.266361,2.233752,0.275269,6.274020,2.891412,1.865599,2.696151,2.556220,2.268429
CAN,Canada,GDP per capita growth (annual %),3.945219,0.309870,2.303577,2.879570,2.948998,4.008878,3.118693,5.835793,-0.080295,-4.030420,1.949628,2.142309,0.663248,1.253614,1.841026,-0.089286
IDN,Indonesia,GDP per capita growth (annual %),3.482209,2.235181,3.090634,3.376536,3.630902,4.289595,4.107515,4.946465,4.620033,3.247327,4.812282,4.748221,4.606284,4.151271,3.639143,3.555440
BRA,Brazil,GDP per capita growth (annual %),2.911826,0.013370,1.709474,-0.122936,4.497077,2.026307,2.834754,4.974705,4.054410,-1.081944,6.524373,3.026407,1.014510,2.108912,-0.352479,-4.351484
MEX,Mexico,GDP per capita growth (annual %),3.440986,-1.792904,-1.402932,0.072262,2.494833,0.869516,2.984438,0.782568,-0.357633,-6.674167,3.617189,2.227161,2.247145,0.029449,1.544045,2.019023
ZAF,South Africa,GDP per capita growth (annual %),2.742091,1.339791,2.397943,1.696827,3.289033,3.982017,4.277783,4.008500,1.823488,-2.898731,1.551073,1.720714,0.607949,0.852685,0.247279,-0.341677
GBR,United Kingdom,GDP per capita growth (annual %),3.068548,2.578699,1.892090,2.806552,1.793156,2.473712,2.035550,1.636058,-1.062893,-4.969350,1.153475,0.749697,0.775735,1.457702,1.854585,1.547697
AUS,Australia,GDP per capita growth (annual %),2.701329,0.565689,2.739716,1.722900,2.856049,1.851139,1.289214,3.197560,1.601302,-0.142471,0.492053,1.048854,2.119684,0.834364,1.015114,0.732407
TUR,Turkey,GDP per capita growth (annual %),5.322149,-7.147849,4.890315,4.252462,8.286033,7.559685,5.620656,3.797998,-0.382920,-6.027914,6.919602,9.509069,3.091236,6.663329,3.168783,4.331706
POL,Poland,GDP per capita growth (annual %),5.658715,1.286411,2.083176,3.568277,5.044268,3.552348,6.198421,7.119699,4.185753,2.762526,4.037234,4.701325,1.325133,1.186826,3.455982,4.305814
THA,Thailand,GDP per capita growth (annual %),3.369969,2.489317,5.271118,6.390879,5.560908,3.517292,4.335657,4.846449,1.192206,-1.189424,6.988282,0.357196,6.740738,2.222548,0.550277,2.719976
ESP,Spain,GDP per capita growth (annual %),4.776451,3.214081,1.290050,1.136253,1.358709,1.915696,2.357813,1.704522,-0.709568,-4.611872,-0.297089,-1.166193,-3.022425,-1.111899,1.687450,3.915768

In [7]:
# Loading cleaned Renewable energy data 
Renewabledata = pd.read_csv('Cleaned_renewable.csv', index_col= "Country Code")

# Store Top 20 Countries-Renewable Energy chart -- USE THIS CHART FOR RENEWABLE ENERGY DATA
top20_Renewable= Renewabledata.loc[top20_countrycodes_list]

top20_Renewable.head(20)

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Code,,,,,,,,,,,,,,,,,,
CHN,China,Renewable energy consumption (% of total final...,29.730715,28.455815,27.098202,23.946580,20.249479,18.203819,17.094610,15.349371,14.601997,13.911962,12.884310,11.695797,11.968567,11.838167,12.223823,12.413353
USA,United States,Renewable energy consumption (% of total final...,5.429624,4.678571,4.840779,5.326282,5.477657,5.841091,6.396514,6.304128,6.845541,7.354405,7.505172,8.164452,8.481450,8.713262,8.754309,8.716936
IND,India,Renewable energy consumption (% of total final...,51.579348,51.787219,50.569443,50.842799,49.724025,48.575309,47.443722,45.867804,43.632883,40.770828,39.481509,38.931740,38.390890,37.849841,36.651838,36.021223
RUS,Russian Federation,Renewable energy consumption (% of total final...,3.497189,3.621604,3.459289,3.280099,3.554391,3.615025,3.483900,3.669240,3.307738,3.599623,3.342748,3.227796,3.354041,3.744504,3.422427,3.304228
JPN,Japan,Renewable energy consumption (% of total final...,3.916108,3.736777,3.695374,4.079025,4.013757,3.654473,4.029364,3.752732,3.983867,4.035614,4.585530,4.693602,4.533085,4.912152,5.625026,6.297357
DEU,Germany,Renewable energy consumption (% of total final...,3.700438,3.899673,4.412637,5.058467,5.825244,6.764551,7.753225,9.406588,8.592248,9.630062,10.293520,11.394356,12.015136,12.089079,13.378878,14.206253
IRN,"Iran, Islamic Rep.",Renewable energy consumption (% of total final...,0.438390,0.517141,0.663691,0.829587,0.737761,1.400793,1.398239,1.301536,0.702090,0.781923,0.897454,0.916869,0.934278,0.995532,0.939120,0.913005
SAU,Saudi Arabia,Renewable energy consumption (% of total final...,0.009118,0.010461,0.009550,0.009141,0.008721,0.008307,0.008757,0.007985,0.007256,0.007049,0.006255,0.006841,0.006455,0.006374,0.006009,0.005977
KOR,"Korea, Rep.",Renewable energy consumption (% of total final...,0.700451,0.692198,0.696663,0.845582,0.770204,0.872923,0.948658,1.024922,1.060729,1.206796,1.314954,1.347612,1.614258,1.922274,2.838192,2.707703
CAN,Canada,Renewable energy consumption (% of total final...,21.510401,21.008679,21.769837,21.183079,21.581397,22.248528,22.088749,22.126192,22.525314,22.701257,22.080989,21.965419,22.610258,22.379680,22.024652,22.025359
IDN,Indonesia,Renewable energy consumption (% of total final...,45.581501,44.308333,44.635811,42.977836,41.424153,41.445686,39.937048,39.969357,40.158753,38.970479,37.753420,38.225472,38.233657,38.106454,37.454268,36.879348
BRA,Brazil,Renewable energy consumption (% of total final...,42.798774,41.477879,43.024562,45.308661,45.389961,46.347941,46.905060,47.417625,47.263307,49.113723,47.006662,45.468551,43.620795,42.447843,41.841879,43.790389
MEX,Mexico,Renewable energy consumption (% of total final...,12.167360,11.343885,10.682781,10.169039,10.213293,10.305756,9.824107,9.456580,9.769618,9.168405,9.359978,9.066472,8.964824,9.231363,9.758462,9.215213
ZAF,South Africa,Renewable energy consumption (% of total final...,18.508080,19.121442,18.324104,17.506563,16.760797,16.245342,16.370397,15.811629,15.986590,15.570293,17.079802,16.978595,16.632885,16.097394,16.588162,17.150141
GBR,United Kingdom,Renewable energy consumption (% of total final...,0.961902,0.852867,0.970071,0.934980,1.137258,1.352280,1.553920,1.839651,2.782792,3.383032,3.638918,4.401119,4.751258,6.015781,7.395220,8.711686
AUS,Australia,Renewable energy consumption (% of total final...,8.423341,8.370281,8.738721,7.151066,6.680426,6.711975,6.853267,6.951586,6.789569,7.112827,8.109027,8.256181,8.247109,9.088482,9.278198,9.180503
TUR,Turkey,Renewable energy consumption (% of total final...,17.266609,18.111793,17.459176,16.279971,16.772393,15.298102,14.245486,12.484598,12.415498,13.328381,14.326496,12.780613,12.831685,13.847545,11.607888,13.374230
POL,Poland,Renewable energy consumption (% of total final...,6.926653,7.291459,7.490107,7.292937,7.310031,7.214716,7.183965,7.275765,8.010540,8.842063,9.488624,10.437879,10.915143,11.413380,11.569316,11.911488
THA,Thailand,Renewable energy consumption (% of total final...,21.988138,20.035605,20.066928,20.344396,20.024668,20.252396,20.686938,21.611242,22.491086,22.657367,22.654878,22.755524,23.289820,22.943607,24.095726,22.863070
ESP,Spain,Renewable energy consumption (% of total final...,7.884335,8.933449,7.415105,8.899924,8.032088,7.289816,8.472207,9.005388,9.737203,12.217947,14.395786,14.745927,15.770950,16.949966,17.351736,16.254098

In [8]:
top20_CO2df["color"] = [
'#93b987',
'#f85916',
'#fbd505',
'#6d9c2f',
'#ff3f3f',
'#38ddd9',
'#ffbc3e',
'#92c12b',
'#ff61a1',
'#fdbf60',
'#78347c',
'#3a1560',
'#58d454',
'#30bac5',
'#ffd214',
'#ff8029',
'#df0000',
'#fbcb5a',
'#ced4d7',
'#d8b129',
]

In [9]:
top20_CO2df.to_csv("top20_CO2df.csv", index=True)

top20_countrynames_list.to_csv("top20_countrynames_list.csv", index=True)

top20_countrycodes_list.to_csv("top20_countrycodes_list.csv", index=True)

top20_GDP.to_csv("top20_GDP.csv", index=True)

top20_Renewable.to_csv("top20_Renewable.csv", index=True)