In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Loading raw data
data = pd.read_csv('CO2emissions_data.csv', error_bad_lines=False)
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,CO2 emissions (kt),EN.ATM.CO2E.KT,11092.675,11576.719,12713.489,12178.107,11840.743,10623.299,...,1349.456,861.745,872.746,898.415,883.747,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,CO2 emissions (kt),EN.ATM.CO2E.KT,414.371,491.378,689.396,707.731,839.743,1008.425,...,10755.311,9050.156,8467.103,9035.488,8672.455,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,CO2 emissions (kt),EN.ATM.CO2E.KT,550.050,454.708,1180.774,1151.438,1224.778,1188.108,...,34176.440,33692.396,44851.077,34583.477,34693.487,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,CO2 emissions (kt),EN.ATM.CO2E.KT,2024.184,2280.874,2464.224,2082.856,2016.850,2174.531,...,4924.781,4913.780,5489.499,4616.753,4536.079,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,487.711,476.710,462.042,465.709,469.376,NaN,NaN,NaN,NaN,NaN

In [13]:
columns_to_keep = ["Country Name", "Country Code", "Indicator Name", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"]

Organized_df = data[columns_to_keep]
Organized_df.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,CO2 emissions (kt),2379.883,2409.219,2438.555,2563.233,2618.238,2720.914,2717.247,2823.590,2658.575,2629.239,2508.228,2500.894,1349.456,861.745,872.746,898.415
1,Afghanistan,AFG,CO2 emissions (kt),773.737,817.741,1070.764,1213.777,916.750,1327.454,1650.150,2273.540,4206.049,6769.282,8463.436,12240.446,10755.311,9050.156,8467.103,9035.488
2,Angola,AGO,CO2 emissions (kt),9541.534,9732.218,12665.818,9064.824,18793.375,19156.408,22266.024,25151.953,25709.337,27792.193,29057.308,30586.447,34176.440,33692.396,44851.077,34583.477
3,Albania,ALB,CO2 emissions (kt),3021.608,3223.293,3751.341,4294.057,4165.712,4253.720,3898.021,3927.357,4374.731,4378.398,4598.418,5240.143,4924.781,4913.780,5489.499,4616.753
4,Andorra,AND,CO2 emissions (kt),524.381,524.381,531.715,535.382,561.051,575.719,546.383,539.049,539.049,517.047,517.047,491.378,487.711,476.710,462.042,465.709

In [12]:
CO2_data = Organized_df.dropna()
CO2_data.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,CO2 emissions (kt),2379.883,2409.219,2438.555,2563.233,2618.238,2720.914,2717.247,2823.590,2658.575,2629.239,2508.228,2500.894,1349.456,861.745,872.746,898.415
1,Afghanistan,AFG,CO2 emissions (kt),773.737,817.741,1070.764,1213.777,916.750,1327.454,1650.150,2273.540,4206.049,6769.282,8463.436,12240.446,10755.311,9050.156,8467.103,9035.488
2,Angola,AGO,CO2 emissions (kt),9541.534,9732.218,12665.818,9064.824,18793.375,19156.408,22266.024,25151.953,25709.337,27792.193,29057.308,30586.447,34176.440,33692.396,44851.077,34583.477
3,Albania,ALB,CO2 emissions (kt),3021.608,3223.293,3751.341,4294.057,4165.712,4253.720,3898.021,3927.357,4374.731,4378.398,4598.418,5240.143,4924.781,4913.780,5489.499,4616.753
4,Andorra,AND,CO2 emissions (kt),524.381,524.381,531.715,535.382,561.051,575.719,546.383,539.049,539.049,517.047,517.047,491.378,487.711,476.710,462.042,465.709